<main class="flex-shrink-0 p-5" id="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="newsletter text-center">
          <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" novalidate>
             <p>Sign Up for the <strong>NEWSLETTER</strong></p>
             <div *ngIf="errorMessage" class="alert alert-danger">
              {{ errorMessage }}
            </div>
             <div *ngIf="successMessage" class="alert alert-success">
              {{ successMessage }}
            </div>
            <div class="input-group newsletter-input-group">
             <input
                type="email"
                id="email"
                placeholder="Enter Your Email"
                class="form-control"
                [ngClass]="{ 'is-invalid': email?.invalid && email?.touched }"
                formControlName="email"
              />
              <div *ngIf="email?.invalid && email?.touched" class="invalid-feedback">
                <div *ngIf="email?.errors?.['required']">Email is required.</div>
                <div *ngIf="email?.errors?.['email']">Email is not valid.</div>
              </div>
              <button type="submit" [disabled]="forgotForm.invalid || loading" class="btn bg-primary btn-primary" id="button-addon2" title="">
                <i [ngClass]="loading ? 'fas fa-circle-notch fa-spin me-2' : 'bi bi-envelope mb-1 me-1'"></i>Subscribe
              </button>
            </div>
          </form>
          <div class="clearfix mt-2">
            <button class="btn btn-light border me-1">
              <i class="bi bi-facebook mb-1"></i>
            </button>
            <button class="btn btn-light border me-1">
              <i class="bi bi-twitter mb-1"></i>
            </button>
            <button class="btn btn-light border me-1">
              <i class="bi bi-instagram mb-1"></i>
            </button>
            <button class="btn btn-light border">
              <i class="bi bi-pinterest mb-1"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
