<nav *ngIf="totalPages > 1">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="setPage(currentPage - 1)">
        &laquo;
      </button>
    </li>

    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
      <button class="page-link" (click)="setPage(page)">{{ page }}</button>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link" (click)="setPage(currentPage + 1)">
        &raquo;
      </button>
    </li>
  </ul>
</nav>
