<main class="flex-shrink-0 p-3 border-bottom bg-gray text-uppercase mb-5" id="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-2">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/order/list']">Order</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail Order</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</main>
<main class="flex-shrink-0 mb-4">
    <ng-container *ngIf="loading; else contentTemplate">
        <div class="container">
          <div class="row">
              <div class="col-md-5">
                 <ngx-skeleton-loader appearance="square"  [theme]="{ width: '100%', height: '600px' }"></ngx-skeleton-loader>
              </div>
              <div class="col-md-7">
                 <ngx-skeleton-loader appearance="square"  [theme]="{ width: '100%', height: '600px' }"></ngx-skeleton-loader>
              </div>
          </div>
        </div>
    </ng-container>
    <ng-template #contentTemplate>
        <div class="container">
          <div class="row">
              <div class="col-md-5">
                <h3 class='text-uppercase mb-3 text-center'>Details Invoice</h3>
                <table class="table mt-2 mb-4 border">
                  <tbody>
                      <tr>
                          <td>Invoice Number</td>
                          <td>:</td>
                          <td width="350">{{ order.invoiceNumber }}</td>
                      </tr>
                      <tr>
                          <td>Invoice Date</td>
                          <td>:</td>
                          <td>{{ order.createdAt | moment:'dddd, DD/MM/YYYY HH:mm' }}</td>
                      </tr>
                      <tr>
                          <td>Payment</td>
                          <td>:</td>
                          <td>{{ order.paymentName }}</td>
                      </tr>
                      <tr>
                          <td>Status</td>
                          <td>:</td>
                          <td>
                             <ng-container *ngIf="order.status === 0; else statusTemplate">
                               <span class="badge bg-danger">Draft</span>
                            </ng-container>
                            <ng-template #statusTemplate>
                               <span class="badge bg-success">Completed</span>
                            </ng-template>
                          </td>
                      </tr>
                  </tbody>
                </table>
                 <h3 class='text-uppercase mb-3 text-center'>Billing address</h3>
                 <table class="table mt-2 border">
                    <tbody>
                      <tr *ngFor="let row of billings">
                          <td>{{ row.name }}</td>
                          <td>:</td>
                          <td width="350">{{ row.description }}</td>
                      </tr>
                    </tbody>
                 </table>
              </div>
              <div class="col-md-7">
                 <h3 class='text-uppercase mb-3 text-center'>Details Order</h3>
                  <div class="card">
                      <div class="card-body">
                          <div class="row mb-2"  *ngFor="let product of carts">
                              <div class="col-md-3 text-center">
                                  <img class="img-responsive" width="120" [src]="product.image" alt="image" />
                              </div>
                              <div class="col-md-7 text-start p-3">
                                  <a href='#' class='text-decoration-none text-uppercase text-muted d-block mt-3'>
                                      <strong>{{ product.name }}</strong>
                                  </a>
                                  <span class='d-block mb-2 text-danger fw-bold'>
                                      {{ product.qty }} x <strong>${{ product.price }}</strong>
                                  </span>
                              </div>
                              <div class="col-md-2 text-end p-3">
                                  <h6 class='text-danger fw-bold mt-4'>${{ product.total }}</h6>
                              </div>
                          </div>
                          <div class='border-top'></div>
                          <div class="row mb-1 p-2 mt-2">
                              <div class="col-md-3">
                                  <h6 class='text-start text-muted fw-bold text-uppercase'>subtotal</h6>
                              </div>
                              <div class="col-md-9 text-end">
                                  <h6 class='text-danger fw-bold'>${{ order.subtotal }}</h6>
                              </div>
                          </div>
                          <div class="row mb-1 p-2 mt-2">
                              <div class="col-md-3">
                                  <h6 class='text-start text-muted fw-bold text-uppercase'>Shiping</h6>
                              </div>
                              <div class="col-md-9 text-end">
                                  <h6 class='text-danger fw-bold'>${{ order.totalShipment }}</h6>
                              </div>
                          </div>
                            <div class="row mb-1 p-2 mt-2">
                              <div class="col-md-3">
                                  <h6 class='text-start text-muted fw-bold text-uppercase'>Discount ({{ discount }}%)</h6>
                              </div>
                              <div class="col-md-9 text-end">
                                  <h6 class='text-danger fw-bold'>${{ order.totalDiscount }}</h6>
                              </div>
                          </div>
                          <div class="row mb-1 p-2 mt-2">
                              <div class="col-md-3">
                                  <h6 class='text-start text-muted fw-bold text-uppercase'>Taxes ({{ taxes }}%)</h6>
                              </div>
                              <div class="col-md-9 text-end">
                                  <h6 class='text-danger fw-bold'>${{ order.totalTaxes }}</h6>
                              </div>
                          </div>
                          <div class="row mb-1 p-2 mt-2">
                              <div class="col-md-3">
                                  <h3 class='text-start text-muted fw-bold text-uppercase'>Total</h3>
                              </div>
                              <div class="col-md-9 text-end">
                                  <h6 class='text-danger fw-bold'>${{ order.totalPaid }}</h6>
                              </div>
                          </div>
                      </div>
                  </div>
                  <a [routerLink]="['/order/list']" class="btn btn-primary mt-2">
                    <i class="fa fa-arrow-left me-2"></i>Back To List Order
                  </a>
              </div>
          </div>
        </div>
    </ng-template>
</main>
