<main class="flex-shrink-0 p-3 border-bottom bg-gray text-uppercase mb-5" id="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-2">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change Profile</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</main>
<main class="flex-shrink-0 mb-5">
  <div class="container">
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
        <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>
    <div class="row">
      <div class="col-md-6">
         <form [formGroup]="formData" (ngSubmit)="onSubmit()" novalidate>
          <h3 class='text-uppercase mb-3 text-center'>Account Profile</h3>
          <div class="mb-3">

            <span *ngIf="upload; else elseUpload">
              <ngx-skeleton-loader appearance="square" size="100px"></ngx-skeleton-loader>
              <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
            </span>
            <ng-template #elseUpload>
              <img class="image img-thumbnail mb-2 d-block" width="200" [src]="userImage" />
              <label class="form-label">Image Profile </label>
              <input type="file" (change)="onFileChange($event)" accept="image/*" class="form-control">
            </ng-template>
          </div>
          <div class="mb-3">
            <label class="form-label">First Name <span class="text-danger">*</span></label>
              <input
                type="text"
                id="firstName"
                placeholder="Enter Your First Name"
                class="form-control"
                [ngClass]="{ 'is-invalid': firstName?.invalid && firstName?.touched }"
                formControlName="firstName"
              />
              <div *ngIf="firstName?.invalid && firstName?.touched" class="invalid-feedback">
                <div *ngIf="firstName?.errors?.['required']">First Name is required.</div>
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Last Name <span class="text-danger">*</span></label>
            <input
                type="text"
                id="lastName"
                placeholder="Enter Your Last Name"
                class="form-control"
                [ngClass]="{ 'is-invalid': lastName?.invalid && lastName?.touched }"
                formControlName="lastName"
              />
              <div *ngIf="lastName?.invalid && lastName?.touched" class="invalid-feedback">
                <div *ngIf="lastName?.errors?.['required']">Last Name is required.</div>
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Gender <span class="text-danger">*</span></label>
              <select id="gender" formControlName="gender" class="form-control">
                <option value="">-- Please select a gender --</option>
                <option *ngFor="let row of genders" [value]="row.code">
                  {{ row.name }}
                </option>
              </select>
              <div *ngIf="gender?.invalid && gender?.touched" class="invalid-feedback">
                <div *ngIf="gender?.errors?.['required']">Gender is required.</div>
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label">E-Mail Address <span class="text-danger">*</span></label>
            <input
                type="email"
                id="email"
                placeholder="Enter Your E-Mail Address"
                class="form-control"
                [ngClass]="{ 'is-invalid': email?.invalid && email?.touched }"
                formControlName="email"
              />
            <div *ngIf="email?.invalid && email?.touched" class="invalid-feedback">
              <div *ngIf="email?.errors?.['required']">Email is required.</div>
              <div *ngIf="email?.errors?.['email']">Email is not valid.</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Phone Number <span class="text-danger">*</span></label>
            <input
                type="text"
                id="phone"
                placeholder="Enter Your Phone Number"
                class="form-control"
                [ngClass]="{ 'is-invalid': phone?.invalid && phone?.touched }"
                formControlName="phone"
              />
              <div *ngIf="phone?.invalid && phone?.touched" class="invalid-feedback">
                <div *ngIf="phone?.errors?.['required']">Phone Number is required.</div>
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label">City <span class="text-danger">*</span></label>
             <input
                type="text"
                id="city"
                placeholder="Enter Your City"
                class="form-control"
                [ngClass]="{ 'is-invalid': city?.invalid && city?.touched }"
                formControlName="city"
              />
              <div *ngIf="city?.invalid && city?.touched" class="invalid-feedback">
                <div *ngIf="city?.errors?.['required']">City is required.</div>
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Country <span class="text-danger">*</span></label>
            <input
                type="text"
                id="country"
                placeholder="Enter Your Country"
                class="form-control"
                [ngClass]="{ 'is-invalid': country?.invalid && country?.touched }"
                formControlName="country"
              />
              <div *ngIf="country?.invalid && country?.touched" class="invalid-feedback">
                <div *ngIf="country?.errors?.['required']">Country is required.</div>
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Zip Code <span class="text-danger">*</span></label>
           <input
                type="text"
                id="zipCode"
                placeholder="Enter Your Zip Code"
                class="form-control"
                [ngClass]="{ 'is-invalid': zipCode?.invalid && zipCode?.touched }"
                formControlName="zipCode"
              />
              <div *ngIf="zipCode?.invalid && zipCode?.touched" class="invalid-feedback">
                <div *ngIf="zipCode?.errors?.['required']">Zip Code is required.</div>
              </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Street Address <span class="text-danger">*</span></label>
            <textarea
              rows="3"
              placeholder='Enter Your Street Address'
              [ngClass]="{ 'is-invalid': address?.invalid && address?.touched }"
              formControlName="address"
              class="form-control"
            ></textarea>
             <div *ngIf="address?.invalid && address?.touched" class="invalid-feedback">
                <div *ngIf="address?.errors?.['required']">Zip Code is required.</div>
              </div>
          </div>
           <button type="submit" [disabled]="formData.invalid || submit" class="btn btn-lg btn-primary me-2" title="">
              <i [ngClass]="submit ? 'fas fa-circle-notch fa-spin me-2' : 'd-none bi-box-arrow-right me-2'"></i> Update Profile
            </button>
          <button type='reset' class="btn btn-lg btn-danger">
            Reset Form
          </button>
        </form>
      </div>
      <div class="col-md-6">
        <h3 class='text-uppercase mb-3 text-center'>Your Activity</h3>
        <div *ngIf="loading; else elseLoading">
          <div class="p-1">
              <ngx-skeleton-loader count="20" appearance="line"></ngx-skeleton-loader>
          </div>
        </div>
        <ng-template #elseLoading>
          <div class="p-1">
            <app-timeline [items]="activities"></app-timeline>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</main>
